.react-pdf__Page__canvas{
    width: 100% !important;
    height: 184px !important;
}

.MuiGridListTileBar-title{
    color: rgb(255, 255, 255);
}

.MuiGridListTileBar-root{
    background: transparent;
    /* background: 'linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%)';    */
}

button.MuiButtonBase-root {
    position: relative;
    top: 75px;
    padding: 0;
}